.main_container {
  width: 1226px;
  max-width: 1226px;
}
.first_section {
  background-image: url(../img/create_bg.jpg);
}
.char_headline {
  margin-top: 116px;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 100px;
  text-align: center;
  font-family: "Classica One";
  letter-spacing: 0.14em;

  color: #ffffff;
}
.create_btn {
  background: #ffffff;
  box-shadow: 2px 7px 11px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  padding: 10px 45px;
  cursor: pointer;
  max-width: 140px;
  margin: auto;
  color: #000000;
  margin-top: 14px;
  text-align: center;
  box-sizing: border-box;
}
.create_line_wrapper {
  background-color: #fff;
  display: flex;
  justify-content: center;
}
.create_line {
  display: flex;
}
.create_container {
  max-width: 1185px;
  width: 1185px;
  margin: auto;
}
.create_interface_wrapper {
  padding-top: 38px;
  padding-bottom: 111px;
}
.create_cont_headline {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 65px;
  letter-spacing: 0.14em;
  text-transform: capitalize;
  font-family: "Classica One";
  color: #000000;
}
.colors_table_wrapper {
  margin-top: 104px;
}
.colors_color {
  background: #101523;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  width: 71px;
  height: 60px;
}
.colors_line_wrapper {
  display: flex;
}
.colors_line_wrapper + .colors_line_wrapper {
  margin-top: 38px;
}
.colors_color_wrapper + .colors_color_wrapper {
  margin-left: 27px;
}
.colors_color_wrapper {
  text-align: center;
}
.colors_text {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 16px;
  color: #000000;
}
.salon-wrap:not(:first-child) {
  display: none;
}
.salon-wrap, .wheel-wrap {
  border-radius: 25px;
  overflow: hidden;
}
.car-wrap:not(:first-child) {
  display: none;
}
.wheelll, .salonnn {
  display: none;
}
.wheel-wrap:not(:first-child) {
  display: none;
}
.color_mag {
  background: #3D4758;
}
.color_ice {
  background: #939393;
}
.color_red {
  background: #B3B5B7;
}
.color_jet {
  background: #434441;
}
.color_alpine {
  background: #556356;
}
.color_magnolia {
  background: #d6d1b8;
}

#car-2 .color_mag {
  background: #939393;
}
#car-2 .color_ice {
  background: #3f4c46;
}
#car-2 .color_red {
  background: #9C978B;
}
#car-2 .color_jet {
  background: #434441;
}

#car-3 .color_mag {
  background: #333333;
}
#car-3 .color_ice {
  background: #542928;
}
#car-3 .color_red {
  background: #1C1C1C;
}
#car-3 .color_jet {
  background: #666C2A;
}
#car-3 .color_alpine {
  background: #B99973;
}
#car-3 .color_magnolia {
  background: #2E5C6E;
}

#car-4 .color_mag {
  background: #464155;
}
#car-4 .color_ice {
  background: #B2A693;
}
#car-4 .color_red {
  background: #959EA0;
}
#car-4 .color_jet {
  background: #842A2D;
}
#car-4 .color_alpine {
  background: #424C52;
}

#car-5 .color_mag {
  background: #753E3D;
}
#car-5 .color_ice {
  background: #414344;
}
#car-5 .color_red {
  background: #682F0B;
}
#car-5 .color_jet {
  background: #859AAA;
}

#car-6 .color_mag {
  background: #542928;
}
#car-6 .color_ice {
  background: #301419;
}
#car-6 .color_red {
  background: #0D1E34;
}
#car-6 .color_jet {
  background: #7B5B41;
}
#car-6 .color_alpine {
  background: #C8D1D3;
}
#car-6 .color_magnolia {
  background: #5F5F5F;
}

.colors_and_car_wrapper {
  display: flex;
}
.car_table_wrapper {
  width: 700px;
  margin-left: 70px;
  margin-top: 8px;
}
.car_table_wrapper img {
  width: 100%;
}
.price_btn {
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  cursor: pointer;
  background: #ffffff;
  box-shadow: 2px 7px 11px rgba(0, 0, 0, 0.5);
  border-radius: 30px;
  padding: 10px 32px;
  max-width: 140px;
  margin: auto;
  box-sizing: border-box;
  color: #000000;
  margin-top: 18px;
}
body {
  background-color: #f5f5f5;
}

.arrow {
  margin-top: 180px;
  cursor: pointer;
}
.left_arrow {
  margin-right: 50px;
}
.right_arrow {
  margin-left: 50px;
}
.colors_color_wrapper {
  cursor: pointer;
  border-radius: 10px;
  transition: 0.3s;
}
.colors_color {
  transition: 0.3s;
}
.colors_color_wrapper:hover .colors_color {
  transition: 0.3s;
  border: 2px solid white;
}

.active_color {
  border: 2px solid white;
}

.create_cont_headline {
  margin-left: 80px;
}

.colors_line_wrapper {
  width: 265px;
  height: 78px;
}
.colors_table_wrapper {
  display: block;
}
.wheel_table_wrapper {
  display: none;
}
.saloon_table_wrapper {
  display: none;
}

.wheels_cat {
  width: 138px;
  height: 66px;
  background-image: url(../img/left_wheel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
  margin-top: 70px;
  margin-left: -10px;
}
.wheel-1-1 {
  background-image: url(../img/wheel-1-1.webp);
}
.wheel-1-2 {
  background-image: url(../img/wheel-1-2.webp);
}

#car-2 .wheel-1-1 {
  background-image: url(../img/wheel-2-1.webp);
}
#car-2 .wheel-1-2 {
  background-image: url(../img/wheel-2-2.webp);
}

#car-3 .wheel-1-1 {
  background-image: url(../img/wheel-3-1.webp);
}
#car-3 .wheel-1-2 {
  background-image: url(../img/wheel-3-2.webp);
}

#car-4 .wheel-1-1 {
  background-image: url(../img/wheel-4-1.webp);
}
#car-4 .wheel-1-2 {
  background-image: url(../img/wheel-4-2.webp);
}

#car-5 .wheel-1-1 {
  background-image: url(../img/wheel-5-1.webp);
}
#car-5 .wheel-1-2 {
  background-image: url(../img/wheel-5-2.webp);
}

#car-6 .wheel-1-1 {
  background-image: url(../img/wheel-6-1.webp);
}
#car-6 .wheel-1-2 {
  background-image: url(../img/wheel-6-2.webp);
}

.saloon_color {
  width: 138px;
  height: 66px;
}
.saloon_table_wrapper {
  margin-left: 0px;
  margin-top: 120px;
}
.salon-1-1 {
  background-image: url(../img/salon-1-1.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
  margin-left: -20px;
}
.salon-1-2 {
  background-image: url(../img/salon-1-2.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
}
.salon-1-3 {
  background-image: url(../img/salon-1-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
  margin-left: -20px;
}
.salon-1-4 {
  background-image: url(../img/salon-1-4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: none;
}

#car-2 .salon-1-1 {
  background-image: url(../img/salon-2-1.webp);
}
#car-2 .salon-1-2 {
  background-image: url(../img/salon-2-2.webp);
}
#car-2 .salon-1-3 {
  background-image: url(../img/salon-2-3.webp);
}
#car-2 .salon-1-4 {
  background-image: url(../img/salon-2-4.webp);
}

#car-3 .salon-1-1 {
  background-image: url(../img/salon-3-1.webp);
}
#car-3 .salon-1-2 {
  background-image: url(../img/salon-3-2.webp);
}
#car-3 .salon-1-3 {
  background-image: url(../img/salon-3-3.webp);
}
#car-3 .salon-1-4 {
  background-image: url(../img/salon-3-4.webp);
}

#car-4 .salon-1-1 {
  background-image: url(../img/salon-4-1.webp);
}
#car-4 .salon-1-2 {
  background-image: url(../img/salon-4-2.webp);
}
#car-4 .salon-1-3 {
  background-image: url(../img/salon-4-3.webp);
}
#car-4 .salon-1-4 {
  background-image: url(../img/salon-4-4.webp);
}

#car-5 .salon-1-1 {
  background-image: url(../img/salon-5-1.webp);
}
#car-5 .salon-1-2 {
  background-image: url(../img/salon-5-2.webp);
}
#car-5 .salon-1-3 {
  background-image: url(../img/salon-5-3.webp);
}
#car-5 .salon-1-4 {
  background-image: url(../img/salon-5-4.webp);
}

#car-6 .salon-1-1 {
  background-image: url(../img/salon-6-1.webp);
}
#car-6 .salon-1-2 {
  background-image: url(../img/salon-6-2.webp);
}
#car-6 .salon-1-3 {
  background-image: url(../img/salon-6-3.webp);
}
#car-6 .salon-1-4 {
  background-image: url(../img/salon-6-4.webp);
}

.price_btn {
  display: block;
}
.inputs_wrapper {
}
.send {
  margin-top: 30px;
}
.modal {
  padding-bottom: 50px !important;
  padding-top: 30px !important;
}
.know_price {
  margin-bottom: 50px;
  font-size: 32px;
  margin: 0px;
  text-align: center;
  margin-bottom: 45px;
}
input {
  width: 350px;
  display: block;
  padding: 8px;
  border: 1px solid rgb(71, 71, 71);
  border-radius: 5px;
  font-size: 16px;
  font-family: "Circe";
  font-style: normal;
  font-weight: 400;
  margin: auto;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.input_wrapper + .input_wrapper {
  margin-top: 20px;
}

a.footer_link:hover {
  color: #000;
  text-decoration: none;
}
a.main_nav_link:hover {
  color: #fff;
  text-decoration: none;
}