body {
  overflow-x: hidden;
}

.first_section {
  background-image: url(../img/main_bg.png);
  width: 100%;
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main_container {
  max-width: 1158px;
  width: 1158px;
  margin: auto;
}
.main_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.main_header_soc_line {
  display: flex;
  align-items: center;
  height: 21px;
  margin-top: 36px;
}
.main_header_soc_wrapper + .main_header_soc_wrapper {
  margin-left: 13px;
}
.main_header__phone {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  text-transform: uppercase;
  font-family: "Circe";
  color: #ffffff;
  margin-top: 45px;
}
.main_nav {
  margin-top: 46px;
  display: flex;
  justify-content: center;
}
.main_nav_link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;

  /* identical to box height, or 0% */
  font-family: "Circe";
  text-transform: uppercase;
  transition: 0.3s;
  color: #ffffff;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
}
.main_nav_link + .main_nav_link {
  margin-left: 55px;
}

.main_nav_link:hover {
  transition: 0.3s;
  border-bottom: 1px solid #ffffff;
}
.main_big_logo_wrapper {
  position: absolute;
  bottom: 90px;
  left: 50%;
  margin-left: -377px;
}
.first_section {
  position: relative;
}
.second_section {
  padding-top: 130px;
  background-color: #ececec;
}
section {
  background-color: #ececec;
}
.second_section_headline {
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 200%;
  /* identical to box height, or 0% */

  letter-spacing: 0.145em;
  text-transform: capitalize;
  font-family: "Classica One";
  color: #000000;
  text-align: center;
}
.second_section_green {
  font-style: normal;
  font-weight: 350;
  font-size: 30px;
  line-height: 0px;
  /* identical to box height, or 0% */
  color: #559566;
  text-transform: capitalize;
  font-family: "Circe Light";
  margin-top: 130px;
}
.second_section_name {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height */
  margin-top: 66px;
  text-transform: uppercase;
  font-family: "Circe Bold";
  color: #000000;
}
.second_section_flex_wrapper {
  display: flex;
}
.second_section_name_descr {
  margin-top: 10px;
  max-width: 550px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "Circe";
  color: #000000;
}
.second_section_center {
  margin-top: 195px;
  margin-left: -325px;
}
.second_section_img {
  margin-top: 200px;
  margin-left: 209px;
}
.right_first_img {
  margin-top: 205px;
  margin-left: -130px;
}
.first_right_descr {
  max-width: 514px;
  margin-left: -130px;
  margin-top: 10px;
}
.first_right_name {
  margin-top: 75px;
  margin-left: 10px;
}

.second_right_name {
  margin-top: 85px;
  margin-left: -25px;
}

.second_right_descr {
  max-width: 525px;
  margin-left: -130px;
  margin-top: 10px;
}
.second_section_second_left_name {
  margin-top: 78px;
}
.second_section_second_left_img {
  margin-top: 210px;
}
.second_second_section_flex_wrapper {
  margin-top: 80px;
}
.third_center {
  margin-left: -120px;
}
.left_02_name {
  margin-top: 70px;
}
.img_right_02 {
  margin-top: 145px;
}
.right_name_02 {
  margin-top: 125px;
  margin-left: -20px;
}
.img_right_022 {
  margin-top: 240px;
}
.right_name_02111 {
  margin-left: 10px;
}
.bottom_card {
  margin-top: 180px;
}

.second_right_02 {
  margin-left: 40px;
}
.right_name_021 {
  margin-left: -20px;
}
.third_03_center {
  margin-left: 17px;
}
.second_name_03 {
  margin-top: 150px;
  margin-left: -50px;
}
.second_section_right_03 {
  margin-left: 60px;
}
.desct_03 {
  max-width: 523px;
}
.album {
  display: flex;
}
.third_section {
  padding-top: 250px;
  padding-bottom: 106px;
}
.third_section .second_section_headline {
  margin-bottom: 95px;
}

.album_img {
  width: 33.33333%;
  object-fit: cover;
  filter: grayscale(1);
  transition: 0.3s;
  cursor: pointer;
}
.album_img:hover {
  transition: 0.3s;
  filter: grayscale(0);
}
.footer_logo {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.footer_links {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
  margin: auto;
  margin-top: 52px;
}
.footer_link {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  text-transform: uppercase;
  font-family: "Circe";
  color: #000000;
  cursor: pointer;
  transition: all 0.3s ease;
  border-bottom: 1px solid transparent;
}
.footer_link:hover {
  border-bottom: 1px solid #000000;
}
.footer_contacts {
  display: flex;
  justify-content: space-between;
  margin-top: 86px;
}
.footer_soc_wrapper {
  display: flex;
  align-items: center;
}
footer {
  padding-bottom: 64px;
  background: #f3f3f3;
}
.footer_logo {
  background: #f3f3f3;
  margin-top: 0px;
  padding-top: 20px;
}
.footer_contacts_text_wrapper div {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.115em;
  text-transform: uppercase;
  font-family: "Circe";
  color: #000000;
  text-align: right;
}
.footer_cop {
  margin-top: 8px;
}
.second_section_img_03 {
  margin-left: -20px;
}

.second_right_02 {
  margin-left: 45px;
}
.right_name_022 {
  margin-left: -25px;
}

.third_003_center {
  margin-left: 44px;
}
.second_section_img_03 {
  margin-left: 110px;
}

/* ======= timeline */
.element-animation {
  
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateX(-200px);
}
.element-animation-r {
  
  /* Скроем элемент в начальном состоянии */
  opacity: 0;
  transform: translateX(200px);
}

.element-animation.element-show,
.element-animation-r.element-show {
  opacity: 1;
  transition: all 1s;
  transform: translateX(0%);
}